<h3>Tables
   <small>An Advanced Datagrid for AngularJS</small>
</h3>
<div class="container-fluid" ng-controller="AngularGridController as table">
   <!-- Basic Example-->
   <h4 class="page-header mt0">Basic Example</h4>
   <div class="ag-angle" ag-grid="table.gridOptions" style="width: 100%; height: 400px;"></div>
   <!-- Filter Example-->
   <h4 class="page-header">Filter Example</h4>
   <div class="row">
      <div class="col-lg-4 col-md-6">
         <input class="mb form-control" placeholder="Filter..." type="text" ng-model="table.gridOptions1.quickFilterText" />
      </div>
   </div>
   <div class="ag-angle" ag-grid="table.gridOptions1" style="width: 100%; height: 400px;"></div>
   <!-- Pinning Example-->
   <h4 class="page-header">Pinning Example</h4>
   <div class="ag-angle" ag-grid="table.gridOptions2" style="width: 100%; height: 400px;"></div>
</div>